/* General */
body {
  background-color: rgb(5, 10, 48);
  color: white;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header {
  height: 100px;
}

.container {
  padding-top: 40px;
  padding-bottom: 40px;
}

h1 {
  font-size: 48px;
  color: rgb(0, 203, 240);
  font-weight: bold;
}

h2 {
  font-size: 32px;
  font-weight: bold;
}

#bodyContainer {
  padding: 0px;
}
/* End of general */

/* Buttons */
.button-blue-action {
  align-items: center;
  appearance: none;
  background-image: radial-gradient(100% 100% at 100% 0, #7bebff 0, #00CBF0 100%);
  border: 0;
  border-radius: 10px;
  box-shadow: rgba(45, 35, 66, .4) 0 2px 4px,rgba(45, 35, 66, .3) 0 7px 13px -3px,rgba(58, 65, 111, .5) 0 -3px 0 inset;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-flex;
  height: 48px;
  justify-content: center;
  line-height: 1;
  list-style: none;
  overflow: hidden;
  padding-left: 16px;
  padding-right: 16px;
  position: relative;
  text-align: left;
  text-decoration: none;
  transition: box-shadow .15s,transform .15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  will-change: box-shadow,transform;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
}

.button-blue-action:focus {
  box-shadow: #3c4fe0 0 0 0 1.5px inset, rgba(45, 35, 66, .4) 0 2px 4px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
}

.button-blue-action:hover {
  box-shadow: rgba(45, 35, 66, .4) 0 4px 8px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
  transform: translateY(-2px);
}

.button-blue-action:active {
  box-shadow: #3c4fe0 0 3px 7px inset;
  transform: translateY(2px);
}
/* End Buttons */

/* Layout */
.navbar, .navbar-brand {
  height: 100px;
}

#navbarOptions {
  padding: 0px;
  height: 100px;
}

.navbar {
  margin-right: 50px;
}

.nav-link {
  color: white;
  font-size: 14px;
  position: relative;
  transition: all 0.4s;
}

.nav-link:hover {
  color: rgb(0, 203, 240);
  cursor: pointer;
}

.nav-link::after {
  content: '';
  height: 2px;
  width: 100%;
  background-color: rgb(0, 203, 240);
  position: absolute;
  left: 0;
  bottom: -8px;
  opacity: 0;
  transition: all 0.2s;
  pointer-events: none;
}

.nav-link:hover::after,
.nav-link:focus::after {
  opacity: 1;
}

@media screen and (max-width: 1400px) {
  header {
      margin-bottom: 50px;
    }
}
/* End of Layout */

/* Home Page */
#homeTitle, #homeSubTitle {
  margin-bottom: 20px;
}

#textHome {
  font-size: 14px; 
  margin-bottom: 40px;
}

.buttonTitle {
  font-size: 16px;
  font-weight: bold;
}

@media screen and (max-width: 768px) {
  #homeImage1 {
    width: 75%;
    height: 75%;
  }

  #mainContainerLeft {
    margin-bottom: 40px;
  }

  h1 {
    font-size: 36px;
    text-align: center;
  }

  h2 {
    font-size: 24px;
    text-align: center;
  }

  #textHome {
    font-size: 12px;
    text-align: center;
  }

  #hiddenText {
    display: none;
  }

  .buttonTitle {
    font-size: 14px;
  }
}

