/* General */
body {
  background-color: rgb(5, 10, 48);
  color: white;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header {
  height: 100px;
}

footer {
  padding-top: 80px;
  padding-bottom: 40px;
  text-align: center;
}

.container {
  padding-top: 40px;
  padding-bottom: 40px;
}

h1 {
  font-size: 48px;
  color: rgb(0, 203, 240);
  font-weight: bold;
}

h2 {
  font-size: 32px;
  font-weight: bold;
}

#bodyContainer {
  padding: 0px;
}
/* End of general */

/* Buttons */
.button-blue-action {
  align-items: center;
  appearance: none;
  background-image: radial-gradient(100% 100% at 100% 0, #7bebff 0, #00CBF0 100%);
  border: 0;
  border-radius: 10px;
  box-shadow: rgba(45, 35, 66, .4) 0 2px 4px,rgba(45, 35, 66, .3) 0 7px 13px -3px,rgba(58, 65, 111, .5) 0 -3px 0 inset;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-flex;
  height: 48px;
  justify-content: center;
  line-height: 1;
  list-style: none;
  overflow: hidden;
  padding-left: 16px;
  padding-right: 16px;
  position: relative;
  text-align: left;
  text-decoration: none;
  transition: box-shadow .15s,transform .15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  will-change: box-shadow,transform;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
}

.button-blue-action:focus {
  box-shadow: #3c4fe0 0 0 0 1.5px inset, rgba(45, 35, 66, .4) 0 2px 4px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
}

.button-blue-action:hover {
  box-shadow: rgba(45, 35, 66, .4) 0 4px 8px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
  transform: translateY(-2px);
}

.button-blue-action:active {
  box-shadow: #3c4fe0 0 3px 7px inset;
  transform: translateY(2px);
}
/* End Buttons */

/* Layout */
.navbar, .navbar-brand {
  height: 100px;
}

.navbar {
  background-color: rgb(5, 10, 48);
}

#navbarOptions {
  padding: 0px;
  height: 100px;
}

.navbar-toggler, .navbar-collapse {
  margin-right: 50px;
}

.nav-link {
  color: white;
  font-size: 14px;
  position: relative;
  transition: all 0.4s;
}

.nav-link:hover {
  color: rgb(0, 203, 240);
  cursor: pointer;
}

.nav-link::after {
  content: '';
  height: 2px;
  width: 100%;
  background-color: rgb(0, 203, 240);
  position: absolute;
  left: 0;
  bottom: -8px;
  opacity: 0;
  transition: all 0.2s;
  pointer-events: none;
}

.navbar .navbar-toggler[aria-expanded="true"] {
  color: rgb(0, 203, 240)!important;
}

.navbar .navbar-toggler:focus{
  color: rgb(5, 10, 48);
}

.custom-toggler.navbar-toggler {
  border: 2px solid rgb(29, 35, 78);
}

.icon {
  color: white;
  margin-left: 1px;
  margin-right: 1px;
}

.icon:hover {
  color: rgb(0, 203, 240);
  transition: color 0.5s ease;
  cursor: pointer;
}

.fa-circle {
  color: rgb(29, 35, 78);
}

.iconFooter {
  transition: 500ms linear;
  padding-top: 33px;
  padding-bottom: 33px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: 24px;
  margin-right: 24px;
}

.iconFooter:hover {
  color: rgb(0, 203, 240);
  transition: color 0.5s ease;
  cursor: pointer;

  transform: scale(1.1);
}

.texteFooter {
  color: white;
}

.texteFooter:hover {
  color: rgb(0, 203, 240);
  transition: color 0.5s ease;
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  #socials {
    display: none;
  }
}

.nav-link:hover::after,
.nav-link:focus::after {
  opacity: 1;
}

@media screen and (max-width: 1399px) {
  header {
    margin-bottom: 50px;
  } 
}

@media screen and (max-width: 1200px) {
  #siteLinksFooter {
    font-size: 12px;
  }
}

@media screen and (max-width: 991px) {
  .navbar-collapse {
      background-color: rgb(5, 10, 48);
      border-bottom: rgb(29, 35, 78);
    }

    .navbar-nav {
      margin-top: 20px;
    }

    .nav-link {
      font-weight: bold;
      margin-bottom: 20px;
    }

    .nav-link:hover {
      color: #00CBF0;
    }

    .navbar {
      height: 108px;
    }

    .navbar-collapse {
      margin-right: 0px;
    }

    #siteLinksFooter {
      display: none;
    }

    @media screen and (max-width: 768px) {
      .iconFooter {
        margin: 0px;
      }
    }
}
/* End of Layout */

/* Home Page */
#homeTitle, #homeSubTitle {
  transition: 500ms linear;
  margin-bottom: 20px;
}

#textHome {
  transition: 500ms linear;
  font-size: 14px; 
  margin-bottom: 40px;
}

.buttonTitle {
  transition: 500ms linear;
  font-size: 16px;
  font-weight: bold;
}

.homeButton {
  transition: 500ms linear;
}

@media screen and (max-width: 1399px) {
  h1 {
    text-align: center;
  }

  h2 {
    text-align: center;
  }

  #textHome {
    text-align: center;
  }
}

@media screen and (max-width: 767px) {
  #homeImage1 {
    width: 75%;
    height: 75%;
  }

  #mainContainerLeft {
    margin-bottom: 40px;
  }

  h1 {
    font-size: 36px;
  }

  h2 {
    font-size: 24px;
  }

  #textHome {
    font-size: 12px;
  }

  #hiddenText {
    display: none;
  }

  .buttonTitle {
    font-size: 14px;
  }
}

