<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - PYF_Esports_MVC</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/PYF_Esports_MVC.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <div id="navbarOptions" class="container">
            <nav class="navbar navbar-expand-lg navbar-light" s>
                <!-- Logo -->
                <a class="navbar-brand">
                    <img src="/images/Logo.png" alt="PYF_Logo" class="d-inline-block align-top h-logo">
                </a>

                <!-- Navbar Toggler -->
                <button class="navbar-toggler navbar-light" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <!-- Navbar Content -->
                <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
                    <ul class="navbar-nav">
                        <li class="nav-item mx-3">
                            <a class="nav-link">HOME</a>
                        </li>
                        <li class="nav-item mx-3">
                            <a class="nav-link">SCHEDULE</a>
                        </li>
                        <li class="nav-item mx-3">
                            <a class="nav-link">BRACKET</a>
                        </li>
                        <li class="nav-item mx-3">
                            <a class="nav-link">TEAMS</a>
                        </li>
                        <li class="nav-item mx-3">
                            <a class="nav-link">STANDINGS</a>
                        </li>
                        <li class="nav-item mx-3">
                            <a class="nav-link">SOCIALS</a>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
    </header>
    
    <div id="bodyContainer" class="container">
        @RenderBody()
    </div>

    <footer>
        
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://kit.fontawesome.com/63463ff979.js" crossorigin="anonymous"></script>@*Fontawesome*@
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
