<div class="row align-items-center">
    <div id="mainContainerLeft" class="col-12 col-xxl-6 padding-top: 20px">
        <h1 id="homeTitle">Gear up, Squad up</h1>
        <h2 id="homeSubTitle">Compete in our Valorants Events!</h2>
        <p id="textHome">
            Welcome to Phoque Your Feelings, where adrenaline meets strategy in the world of Valorant tournaments!
            <a id="hiddenText">Dive into our platform to experience the ultimate competitive gaming atmosphere, where players from all
            skill levels come together to showcase their prowess.</a>
        </p>

        <div class="row justify-content-center homeButton" style="text-align: center">
            <div class="col-5 d-flex flex-column justify-content-center align-items-center">
                <p class="buttonTitle">Upcoming matches</p>
                <i class="fa-solid fa-down-long" style="margin-bottom: 16px"></i>
                <a class="button-blue-action">Schedule</a>
            </div>
            <div class="col-5 d-flex flex-column justify-content-center align-items-center homeButton">
                <p class="buttonTitle">Watch the games here</p>  
                <i class="fa-solid fa-down-long" style="margin-bottom: 16px"></i>
                <a class="button-blue-action">Twitch</a>
            </div>   
        </div>
    </div>
    <div class="col-12 col-xxl-6" style="text-align: center">
        <img id="homeImage1" src="~/images/HomeImage.png">
    </div>
</div>


