<div class="d-flex align-items-center">
    <div class="col-6; padding-top: 20px">
        <h1 style="margin-bottom: 20px">Gear up, Squad up</h1>
        <h2 style="margin-bottom: 20px">Compete in our Valorants Events!</h2>
        <p style="font-size: 14px; margin-bottom: 40px">
            Welcome to Phoque Your Feelings, where adrenaline meets strategy in the world of Valorant tournaments!
            Dive into our platform to experience the ultimate competitive gaming atmosphere, where players from all
            skill levels come together to showcase their prowess. 
        </p>

        <div class="d-flex justify-content-around" style="text-align: center">
            <div class="col-4 d-flex flex-column justify-content-center align-items-center">
                <p class="buttonTitle">Upcoming matches</p>
                <i class="fa-solid fa-down-long" style="margin-bottom: 16px"></i>
                <a class="button-blue-action">Schedule</a>
            </div>
            <div class="col-4 d-flex flex-column justify-content-center align-items-center">
                <p class="buttonTitle">Watch the games here</p>  
                <i class="fa-solid fa-down-long" style="margin-bottom: 16px"></i>
                <a class="button-blue-action">Twitch</a>
            </div>   
        </div>
    </div>
    <div class="col-">
        <img src="~/images/HomeImage.png">
    </div>
</div>


