<div class="d-flex align-items-center">
    <div class="col-6; padding-top: 20px">
        <h1 style="margin-bottom: 20px">Gear up, Squad up</h1>
        <h2 style="margin-bottom: 20px">Compete in our Valorants Events!</h2>
        <p style="font-size: 16px; margin-bottom: 20px">
            Welcome to Phoque Your Feelings, where adrenaline meets strategy in the world of Valorant tournaments!
            Dive into our platform to experience the ultimate competitive gaming atmosphere, where players from all
            skill levels come together to showcase their prowess. 
        </p>

        <div class="d-flex justify-content-around">
            <a class="button-blue-action col-3">Schedule</a>
            <a class="button-blue-action col-3">Twitch</a>
        </div>   
    </div>
    <div class="col-">
        <img src="~/images/HomeImage.png">
    </div>
</div>


