<h1 style="text-align: center; margin-bottom: 30px">Round Robin</h1>
<div class="row justify-content-center align-items-center">
    <div class="col-0 col-lg-3">
        <img class="imgBracket" src="~/images/BracketImage1.png">
    </div>
    <div class="col-10 col-md-8 col-lg-6">
        <p id="bracketText" style="margin-bottom: 40px">
            In a simple round-robin format, each player or team faces every
            other player or team once. This ensures that every competitor has
            an equal opportunity to compete against all others, making it a
            fair and balanced system. The winner is typically determined by
            the total number of wins or points accumulated throughout the
            tournament.
        </p>

        <table style="margin-bottom: 100px" id="winLose">
            <tr>
                <th>TEAMS</th>
                <th>WINS</th>
                <th>LOSSES</th>
            </tr>
            <tr>
                <td>TEAM 1</td>
                <td>1</td>
                <td>0</td>
            </tr>
            <tr>
                <td>TEAM 2</td>
                <td>0</td>
                <td>2</td>
            </tr>
            <tr>
                <td>TEAM 3</td>
                <td>1</td>
                <td>1</td>
            </tr>
            <tr>
                <td>TEAM 4</td>
                <td>2</td>
                <td>0</td>
            </tr>

        </table>
    </div>
    <div class="col-0 col-lg-3">
        <img class="imgBracket" src="~/images/BracketImage2.png">
    </div>

    <div class="row justify-content-around align-items-center" style="margin-bottom: 40px">
        <div class="col-2">
            <div class="roundsBackground">
                <p class="rounds">ROUND 1</p>
            </div>

            <table class="bracketMatch">
                <tr>
                    <td><img src="~/images/LogoTemplate.png" width="30px" height="30px"> TEAM 1</td>
                    <td>1</td>
                </tr>
                <tr>
                    <td><img src="~/images/LogoTemplate.png" width="30px" height="30px"> TEAM 2</td>
                    <td>0</td>
                </tr>
            </table>

            <table class="bracketMatch">
                <tr>
                    <td><img src="~/images/LogoTemplate.png" width="30px" height="30px"> TEAM 3</td>
                    <td>0</td>
                </tr>
                <tr>
                    <td><img src="~/images/LogoTemplate.png" width="30px" height="30px"> TEAM 4</td>
                    <td>1</td>
                </tr>
            </table>
        </div>
        <div class="col-2">
            <div class="roundsBackground">
                <p class="rounds">ROUND 2</p>
            </div>

            <table class="bracketMatch">
                <tr>
                    <td><img src="~/images/LogoTemplate.png" width="30px" height="30px"> TEAM 1</td>
                    <td>1</td>
                </tr>
                <tr>
                    <td><img src="~/images/LogoTemplate.png" width="30px" height="30px"> TEAM 2</td>
                    <td>0</td>
                </tr>
            </table>

            <table class="bracketMatch">
                <tr>
                    <td><img src="~/images/LogoTemplate.png" width="30px" height="30px"> TEAM 3</td>
                    <td>0</td>
                </tr>
                <tr>
                    <td><img src="~/images/LogoTemplate.png" width="30px" height="30px"> TEAM 4</td>
                    <td>1</td>
                </tr>
            </table>
        </div>
        <div class="col-2">
            <div class="roundsBackground">
                <p class="rounds">ROUND 3</p>
            </div>

            <table class="bracketMatch">
                <tr>
                    <td><img src="~/images/LogoTemplate.png" width="30px" height="30px"> TEAM 1</td>
                    <td>1</td>
                </tr>
                <tr>
                    <td><img src="~/images/LogoTemplate.png" width="30px" height="30px"> TEAM 2</td>
                    <td>0</td>
                </tr>
            </table>

            <table class="bracketMatch">
                <tr>
                    <td><img src="~/images/LogoTemplate.png" width="30px" height="30px"> TEAM 3</td>
                    <td>0</td>
                </tr>
                <tr>
                    <td><img src="~/images/LogoTemplate.png" width="30px" height="30px"> TEAM 4</td>
                    <td>1</td>
                </tr>
            </table>
        </div>
        <div class="col-2">
            <div class="roundsBackground">
                <p class="rounds">FINALS</p>
            </div>

            <table class="bracketMatch">
                <tr>
                    <td><img src="~/images/LogoTemplate.png" width="30px" height="30px"> TEAM 3</td>
                    <td>0</td>
                </tr>
                <tr>
                    <td><img src="~/images/LogoTemplate.png" width="30px" height="30px"> TEAM 4</td>
                    <td>1</td>
                </tr>
            </table>
        </div>
    </div>
</div>
