<div class="container row">
    <div class="col-6">
        <h2>Admin Login</h2>
        <p>Welcome to the admin login page. We're currently working on implementing a login
            system for regular users, but it's not available yet. Stay tuned for updates! 
            Meanwhile, if you're an admin, please proceed with your credentials.</p>
        <img src="/images/Cypher.webp" height="200px" width="200px">
    </div>
    <div class="col-6">
        <h2>Login</h2>
        <p>Welcome!</p>
        <div class="group">
            <input type="text" required>
            <span class="highlight"></span>
            <span class="bar"></span>
            <label>Name</label>
        </div>
        <div class="group">
            <input type="text" required>
            <span class="highlight"></span>
            <span class="bar"></span>
            <label>Email</label>
        </div>
    </div>
</div>
