<div style="text-align: center">
    <div style="margin-bottom: 50px">
        <p id="date">JUNE 20</p>
        <div id="matchSchedule" class="row justify-content-between align-items-center">
            <p class="infoSchedule col-2" style="margin-bottom: 0px">20:00 (EST)</p>
            <div class="col-8 row justify-content-around align-items-center">
                <p class="col-lg-3 teamScheduleName" style="margin-bottom: 0px">Team 1</p>
                <div class="col-4 col-lg-2">
                    <img class="logoTeams" src="/images/LogoTemplate.png" alt="PYF_Logo" width="60px" height="60px">
                </div>
                <p id="vs" class="col-4 col-lg-1">VS</p>
                <div class="col-4 col-lg-2">
                    <img class="logoTeams" src="/images/LogoTemplate.png" alt="PYF_Logo" width="60px" height="60px">
                </div>
                <p class="col-lg-3 teamScheduleName" style="margin-bottom: 0px">Team 2</p>
            </div>
            <p class="infoSchedule col-2" style="margin-bottom: 0px">Group Stage (BO1)</p>
        </div>
        <div id="matchSchedule" class="row justify-content-between align-items-center">
            <p class="infoSchedule col-2" style="margin-bottom: 0px">21:00 (EST)</p>
            <div class="col-8 row justify-content-around align-items-center">
                <p class="col-lg-3 teamScheduleName" style="margin-bottom: 0px">Team 1</p>
                <div class="col-4 col-lg-2">
                    <img class="logoTeams" src="/images/LogoTemplate.png" alt="PYF_Logo" width="60px" height="60px">
                </div>
                <p id="vs" class="col-4 col-lg-1">VS</p>
                <div class="col-4 col-lg-2">
                    <img class="logoTeams" src="/images/LogoTemplate.png" alt="PYF_Logo" width="60px" height="60px">
                </div>
                <p class="col-lg-3 teamScheduleName" style="margin-bottom: 0px">Team 2</p>
            </div>
            <p class="infoSchedule col-2" style="margin-bottom: 0px">Group Stage (BO1)</p>
        </div>
    </div>

    <div style="margin-bottom: 50px">
        <p id="date">JUNE 21</p>
        <div id="matchSchedule" class="row justify-content-between align-items-center">
            <p class="infoSchedule col-2" style="margin-bottom: 0px">20:00 (EST)</p>
            <div class="col-8 row justify-content-around align-items-center">
                <p class="col-lg-3 teamScheduleName" style="margin-bottom: 0px">Team 1</p>
                <div class="col-4 col-lg-2">
                    <img class="logoTeams" src="/images/LogoTemplate.png" alt="PYF_Logo" width="60px" height="60px">
                </div>
                <p id="vs" class="col-4 col-lg-1">VS</p>
                <div class="col-4 col-lg-2">
                    <img class="logoTeams" src="/images/LogoTemplate.png" alt="PYF_Logo" width="60px" height="60px">
                </div>
                <p class="col-lg-3 teamScheduleName" style="margin-bottom: 0px">Team 2</p>
            </div>
            <p class="infoSchedule col-2" style="margin-bottom: 0px">Group Stage (BO1)</p>
        </div>
    </div>

    <p id="date">JUNE 22</p>
        <div id="matchSchedule" class="row justify-content-between align-items-center">
            <p class="infoSchedule col-2" style="margin-bottom: 0px">20:00 (EST)</p>
            <div class="col-8 row justify-content-around align-items-center">
                <p class="col-lg-3 teamScheduleName" style="margin-bottom: 0px">Team 1</p>
                <div class="col-4 col-lg-2">
                    <img class="logoTeams" src="/images/LogoTemplate.png" alt="PYF_Logo" width="60px" height="60px">
                </div>
                <p id="vs" class="col-4 col-lg-1">VS</p>
                <div class="col-4 col-lg-2">
                    <img class="logoTeams" src="/images/LogoTemplate.png" alt="PYF_Logo" width="60px" height="60px">
                </div>
                <p class="col-lg-3 teamScheduleName" style="margin-bottom: 0px">Team 2</p>
            </div>
            <p class="infoSchedule col-2" style="margin-bottom: 0px">Group Stage (BO1)</p>
        </div>
        <div id="matchSchedule" class="row justify-content-between align-items-center">
            <p class="infoSchedule col-2" style="margin-bottom: 0px">21:00 (EST)</p>
            <div class="col-8 row justify-content-around align-items-center">
                <p class="col-lg-3 teamScheduleName" style="margin-bottom: 0px">Team 1</p>
                <div class="col-4 col-lg-2">
                    <img class="logoTeams" src="/images/LogoTemplate.png" alt="PYF_Logo" width="60px" height="60px">
                </div>
                <p id="vs" class="col-4 col-lg-1">VS</p>
                <div class="col-4 col-lg-2">
                    <img class="logoTeams" src="/images/LogoTemplate.png" alt="PYF_Logo" width="60px" height="60px">
                </div>
                <p class="col-lg-3 teamScheduleName" style="margin-bottom: 0px">Team 2</p>
            </div>
            <p class="infoSchedule col-2" style="margin-bottom: 0px">Group Stage (BO1)</p>
        </div>
</div>
