<h1 style="margin-bottom: 50px;">Standings Players</h1>

<div id="legend" class="row justify-content-between align-items-center" style="text-align: center">
    <div class="col-2">
        <img id="omen" src="/images/Omen.webp" height="200px" width="200px">
    </div>
    <div class="col-12 col-lg-6">
        <div class="container podium">
            <div class="podium__item">
                <p class="podium__city">zekken</p>
                <div class="podium__rank second">2</div>
            </div>
            <div class="podium__item">
                <p class="podium__city">TenZ</p>
                <div class="podium__rank first" s>
                    1
                </div>
            </div>
            <div class="podium__item">
                <p class="podium__city">johnqt</p>
                <div class="podium__rank third">3</div>
            </div>
        </div>
        
    </div>
    <div class="col-2">
        <img id="omen" src="/images/Omen.webp" height="200px" width="200px">
    </div>
</div>

<div style="overflow-x:auto">
    <table id="tableStandingsPlayers">
        <thead>
            <tr>
                <th id="stickyRank">#</th>
                <th id="stickyPlayer">PLAYER</th>
                <th>TEAM</th>
                <th data-toggle="tooltip" data-placement="top" title="Rating">R</th>
                <th data-toggle="tooltip" data-placement="top" title="Average Combat Score">ACS</th>
                <th data-toggle="tooltip" data-placement="top" title="Kills">K</th>
                <th data-toggle="tooltip" data-placement="top" title="Deaths">D</th>
                <th data-toggle="tooltip" data-placement="top" title="Assists">A</th>
                <th data-toggle="tooltip" data-placement="top" title="Kills - Deaths">+/-</th>
                <th data-toggle="tooltip" data-placement="top" title="Kill, Assist, Trade, Survive %">KAST</th>
                <th data-toggle="tooltip" data-placement="top" title="Average Damage per Round">ADR</th>
                <th data-toggle="tooltip" data-placement="top" title="Headshot %">HS%</th>
                <th data-toggle="tooltip" data-placement="top" title="First Kills">FK</th>
                <th data-toggle="tooltip" data-placement="top" title="First Deaths">FD</th>
                <th data-toggle="tooltip" data-placement="top" title="FK - FD">+/-</th>
            <tr>
            <tr>
                <td id="stickyRank">1</td>
                <td id="stickyPlayer">TenZ</td>
                <td>Sentinels</td>
                <td>1.21</td>
                <td>246</td>
                <td>84</td>
                <td>70</td>
                <td>48</td>
                <td style="color: green">+14</td>
                <td>80%</td>
                <td>157</td>
                <td>22%</td>
                <td>16</td>
                <td>16</td>
                <td>0</td>
            </tr>
            <tr>
                <td id="stickyRank">2</td>
                <td id="stickyPlayer">zekken</td>
                <td>Sentinels</td>
                <td>1.15</td>
                <td>246</td>
                <td>83</td>
                <td>69</td>
                <td>23</td>
                <td style="color: green">+14</td>
                <td>74%</td>
                <td>150</td>
                <td>25%</td>
                <td>19</td>
                <td>10</td>
                <td style="color: green">+9</td>
            </tr>
            <tr>
                <td id="stickyRank">3</td>
                <td id="stickyPlayer">johnqt</td>
                <td>Sentinels</td>
                <td>1.09</td>
                <td>195</td>
                <td>72</td>
                <td>58</td>
                <td>26</td>
                <td style="color: green">+14</td>
                <td>80%</td>
                <td>129</td>
                <td>25%</td>
                <td>4</td>
                <td>8</td>
                <td style="color: red">-4</td>
            </tr>
            <tr>
                <td id="stickyRank">4</td>
                <td id="stickyPlayer">tuyz</td>
                <td>Loud</td>
                <td>1.07</td>
                <td>200</td>
                <td>72</td>
                <td>66</td>
                <td>49</td>
                <td style="color: green">+6</td>
                <td>71%</td>
                <td>133</td>
                <td>27%</td>
                <td>5</td>
                <td>6</td>
                <td style="color: red">-1</td>
            </tr>
            <tr>
                <td id="stickyRank">4</td>
                <td id="stickyPlayer">tuyz</td>
                <td>Loud</td>
                <td>1.07</td>
                <td>200</td>
                <td>72</td>
                <td>66</td>
                <td>49</td>
                <td style="color: green">+6</td>
                <td>71%</td>
                <td>133</td>
                <td>27%</td>
                <td>5</td>
                <td>6</td>
                <td style="color: red">-1</td>
            </tr>
            <tr>
                <td id="stickyRank">4</td>
                <td id="stickyPlayer">tuyz</td>
                <td>Loud</td>
                <td>1.07</td>
                <td>200</td>
                <td>72</td>
                <td>66</td>
                <td>49</td>
                <td style="color: green">+6</td>
                <td>71%</td>
                <td>133</td>
                <td>27%</td>
                <td>5</td>
                <td>6</td>
                <td style="color: red">-1</td>
            </tr>
            <tr>
                <td id="stickyRank">4</td>
                <td id="stickyPlayer">tuyz</td>
                <td>Loud</td>
                <td>1.07</td>
                <td>200</td>
                <td>72</td>
                <td>66</td>
                <td>49</td>
                <td style="color: green">+6</td>
                <td>71%</td>
                <td>133</td>
                <td>27%</td>
                <td>5</td>
                <td>6</td>
                <td style="color: red">-1</td>
            </tr>
            <tr>
                <td id="stickyRank">4</td>
                <td id="stickyPlayer">tuyz</td>
                <td>Loud</td>
                <td>1.07</td>
                <td>200</td>
                <td>72</td>
                <td>66</td>
                <td>49</td>
                <td style="color: green">+6</td>
                <td>71%</td>
                <td>133</td>
                <td>27%</td>
                <td>5</td>
                <td>6</td>
                <td style="color: red">-1</td>
            </tr>
            <tr>
                <td id="stickyRank">4</td>
                <td id="stickyPlayer">tuyz</td>
                <td>Loud</td>
                <td>1.07</td>
                <td>200</td>
                <td>72</td>
                <td>66</td>
                <td>49</td>
                <td style="color: green">+6</td>
                <td>71%</td>
                <td>133</td>
                <td>27%</td>
                <td>5</td>
                <td>6</td>
                <td style="color: red">-1</td>
            </tr>
            <tr>
                <td id="stickyRank">4</td>
                <td id="stickyPlayer">tuyz</td>
                <td>Loud</td>
                <td>1.07</td>
                <td>200</td>
                <td>72</td>
                <td>66</td>
                <td>49</td>
                <td style="color: green">+6</td>
                <td>71%</td>
                <td>133</td>
                <td>27%</td>
                <td>5</td>
                <td>6</td>
                <td style="color: red">-1</td>
            </tr>
            <tr>
                <td id="stickyRank">4</td>
                <td id="stickyPlayer">tuyz</td>
                <td>Loud</td>
                <td>1.07</td>
                <td>200</td>
                <td>72</td>
                <td>66</td>
                <td>49</td>
                <td style="color: green">+6</td>
                <td>71%</td>
                <td>133</td>
                <td>27%</td>
                <td>5</td>
                <td>6</td>
                <td style="color: red">-1</td>
            </tr>
            <tr>
                <td id="stickyRank">4</td>
                <td id="stickyPlayer">tuyz</td>
                <td>Loud</td>
                <td>1.07</td>
                <td>200</td>
                <td>72</td>
                <td>66</td>
                <td>49</td>
                <td style="color: green">+6</td>
                <td>71%</td>
                <td>133</td>
                <td>27%</td>
                <td>5</td>
                <td>6</td>
                <td style="color: red">-1</td>
            </tr>
            <tr>
                <td id="stickyRank">4</td>
                <td id="stickyPlayer">tuyz</td>
                <td>Loud</td>
                <td>1.07</td>
                <td>200</td>
                <td>72</td>
                <td>66</td>
                <td>49</td>
                <td style="color: green">+6</td>
                <td>71%</td>
                <td>133</td>
                <td>27%</td>
                <td>5</td>
                <td>6</td>
                <td style="color: red">-1</td>
            </tr>
        </thead>
    </table>
</div>

<script>
    $(function () {
    $('[data-toggle="tooltip"]').tooltip()
    })
</script>