<h1 id="titleTeams">Teams</h1>

<div style="margin-top: 20px; margin-bottom: 20px">
  <button type="button" class="collapsible row align-items-center justify-content-between" style="margin-left: 0px">
    <div class="col-3 col-md-2 col-xl-1">
          <img src="/images/LogoTemplate.png" alt="PYF_Logo" width="100px" height="100px">
      </div>
      <p class="teamName col-7 col-md-9 col-xl-10">ROGUE</p>
  </button>
  <div class="content">
    <p style="margin-top: 15px; margin-bottom: 15px">Main roster :</p>
    <div class="row justify-content-around align-items-center">
      <p class="col-12 col-md-2 roster">zekken</p>
      <p class="col-12 col-md-2 roster">Sacy</p>
      <p class="col-12 col-md-2 roster">TenZ</p>
      <p class="col-12 col-md-2 roster">johnqt</p>
      <p class="col-12 col-md-2 roster">Zellsis</p>
    </div>
    <p style="margin-top: 20px">Substitutes : </p>
    <div class="row justify-content-around align-items-center" style="margin-bottom: 10px">
      <p class="col-2 roster">curry</p>
      <p class="col-2 roster">shroud</p>
      <p class="col-2 roster"></p>
      <p class="col-2 roster"></p>
      <p class="col-2 roster"></p>
    </div>
  </div>
</div>

<div style="margin-top: 20px; margin-bottom: 20px">
  <button type="button" class="collapsible row align-items-center justify-content-between" style="margin-left: 0px">
    <div class="col-3 col-md-2 col-xl-1">
          <img src="/images/LogoTemplate.png" alt="PYF_Logo" width="100px" height="100px">
      </div>
      <p class="teamName col-7 col-md-9 col-xl-10">ROGUE</p>
  </button>
  <div class="content">
    <p style="margin-top: 15px; margin-bottom: 15px">Main roster :</p>
    <div class="row justify-content-around align-items-center">
      <p class="col-12 col-md-2 roster">zekken</p>
      <p class="col-12 col-md-2 roster">Sacy</p>
      <p class="col-12 col-md-2 roster">TenZ</p>
      <p class="col-12 col-md-2 roster">johnqt</p>
      <p class="col-12 col-md-2 roster">Zellsis</p>
    </div>
    <p style="margin-top: 20px">Substitutes : </p>
    <div class="row justify-content-around align-items-center" style="margin-bottom: 10px">
      <p class="col-2 roster">curry</p>
      <p class="col-2 roster">shroud</p>
      <p class="col-2 roster"></p>
      <p class="col-2 roster"></p>
      <p class="col-2 roster"></p>
    </div>
  </div>
</div>

<div style="margin-top: 20px; margin-bottom: 20px">
  <button type="button" class="collapsible row align-items-center justify-content-between" style="margin-left: 0px">
    <div class="col-3 col-md-2 col-xl-1">
          <img src="/images/LogoTemplate.png" alt="PYF_Logo" width="100px" height="100px">
      </div>
      <p class="teamName col-7 col-md-9 col-xl-10">ROGUE</p>
  </button>
  <div class="content">
    <p style="margin-top: 15px; margin-bottom: 15px">Main roster :</p>
    <div class="row justify-content-around align-items-center">
      <p class="col-12 col-md-2 roster">zekken</p>
      <p class="col-12 col-md-2 roster">Sacy</p>
      <p class="col-12 col-md-2 roster">TenZ</p>
      <p class="col-12 col-md-2 roster">johnqt</p>
      <p class="col-12 col-md-2 roster">Zellsis</p>
    </div>
    <p style="margin-top: 20px">Substitutes : </p>
    <div class="row justify-content-around align-items-center" style="margin-bottom: 10px">
      <p class="col-2 roster">curry</p>
      <p class="col-2 roster">shroud</p>
      <p class="col-2 roster"></p>
      <p class="col-2 roster"></p>
      <p class="col-2 roster"></p>
    </div>
  </div>
</div>

<div style="margin-top: 20px; margin-bottom: 20px">
  <button type="button" class="collapsible row align-items-center justify-content-between" style="margin-left: 0px">
    <div class="col-3 col-md-2 col-xl-1">
          <img src="/images/LogoTemplate.png" alt="PYF_Logo" width="100px" height="100px">
      </div>
      <p class="teamName col-7 col-md-9 col-xl-10">ROGUE</p>
  </button>
  <div class="content">
    <p style="margin-top: 15px; margin-bottom: 15px">Main roster :</p>
    <div class="row justify-content-around align-items-center">
      <p class="col-12 col-md-2 roster">zekken</p>
      <p class="col-12 col-md-2 roster">Sacy</p>
      <p class="col-12 col-md-2 roster">TenZ</p>
      <p class="col-12 col-md-2 roster">johnqt</p>
      <p class="col-12 col-md-2 roster">Zellsis</p>
    </div>
    <p style="margin-top: 20px">Substitutes : </p>
    <div class="row justify-content-around align-items-center" style="margin-bottom: 10px">
      <p class="col-2 roster">curry</p>
      <p class="col-2 roster">shroud</p>
      <p class="col-2 roster"></p>
      <p class="col-2 roster"></p>
      <p class="col-2 roster"></p>
    </div>
  </div>
</div>

<div style="margin-top: 20px; margin-bottom: 20px">
  <button type="button" class="collapsible row align-items-center justify-content-between" style="margin-left: 0px">
    <div class="col-3 col-md-2 col-xl-1">
          <img src="/images/LogoTemplate.png" alt="PYF_Logo" width="100px" height="100px">
      </div>
      <p class="teamName col-7 col-md-9 col-xl-10">ROGUE</p>
  </button>
  <div class="content">
    <p style="margin-top: 15px; margin-bottom: 15px">Main roster :</p>
    <div class="row justify-content-around align-items-center">
      <p class="col-12 col-md-2 roster">zekken</p>
      <p class="col-12 col-md-2 roster">Sacy</p>
      <p class="col-12 col-md-2 roster">TenZ</p>
      <p class="col-12 col-md-2 roster">johnqt</p>
      <p class="col-12 col-md-2 roster">Zellsis</p>
    </div>
    <p style="margin-top: 20px">Substitutes : </p>
    <div class="row justify-content-around align-items-center" style="margin-bottom: 10px">
      <p class="col-2 roster">curry</p>
      <p class="col-2 roster">shroud</p>
      <p class="col-2 roster"></p>
      <p class="col-2 roster"></p>
      <p class="col-2 roster"></p>
    </div>
  </div>
</div>

<script>
  var coll = document.getElementsByClassName("collapsible");
  var i;

  for (i = 0; i < coll.length; i++) {
    coll[i].addEventListener("click", function() {
      this.classList.toggle("active");
      var content = this.nextElementSibling;
      if (content.style.maxHeight){
        content.style.maxHeight = null;
      } else {
        content.style.maxHeight = content.scrollHeight + "px";
      } 
    });
  }
</script>


<!-- <div class="team row align-items-center justify-content-between">
    <div class="col-3 col-md-2 col-xl-1">
        <img src="/images/LogoTemplate.png" alt="PYF_Logo" width="100px" height="100px">
    </div>
    <p class="teamName col-7 col-md-8 col-xl-10">ROGUE</p>
    <i class="fa-solid fa-chevron-down fa-2xl col-2 col-xl-1 drop"></i>
</div> -->
