<h1 id="titleTeams">Teams</h1>

<div class="team row align-items-center justify-content-between">
    <div class="col-3 col-md-2 col-xl-1">
        <img src="/images/LogoTemplate.png" alt="PYF_Logo" width="100px" height="100px">
    </div>
    <p class="teamName col-7 col-md-8 col-xl-10">ROGUE</p>
    <i class="fa-solid fa-chevron-down fa-2xl col-2 col-xl-1 drop"></i>
</div>
<div class="team row align-items-center justify-content-between">
    <div class="col-3 col-md-2 col-xl-1">
        <img src="/images/LogoTemplate.png" alt="PYF_Logo" width="100px" height="100px">
    </div>
    <p class="teamName col-7 col-md-8 col-xl-10">ROGUE</p>
    <i class="fa-solid fa-chevron-down fa-2xl col-2 col-xl-1 drop"></i>
</div>
<div class="team row align-items-center justify-content-between">
    <div class="col-3 col-md-2 col-xl-1">
        <img src="/images/LogoTemplate.png" alt="PYF_Logo" width="100px" height="100px">
    </div>
    <p class="teamName col-7 col-md-8 col-xl-10">ROGUE</p>
    <i class="fa-solid fa-chevron-down fa-2xl col-2 col-xl-1 drop"></i>
</div>
<div class="team row align-items-center justify-content-between">
    <div class="col-3 col-md-2 col-xl-1">
        <img src="/images/LogoTemplate.png" alt="PYF_Logo" width="100px" height="100px">
    </div>
    <p class="teamName col-7 col-md-8 col-xl-10">ROGUE</p>
    <i class="fa-solid fa-chevron-down fa-2xl col-2 col-xl-1 drop"></i>
</div>
<div class="team row align-items-center justify-content-between">
    <div class="col-3 col-md-2 col-xl-1">
        <img src="/images/LogoTemplate.png" alt="PYF_Logo" width="100px" height="100px">
    </div>
    <p class="teamName col-7 col-md-8 col-xl-10">ROGUE</p>
    <i class="fa-solid fa-chevron-down fa-2xl col-2 col-xl-1 drop"></i>
</div>
<div class="team row align-items-center justify-content-between">
    <div class="col-3 col-md-2 col-xl-1">
        <img src="/images/LogoTemplate.png" alt="PYF_Logo" width="100px" height="100px">
    </div>
    <p class="teamName col-7 col-md-8 col-xl-10">ROGUE</p>
    <i class="fa-solid fa-chevron-down fa-2xl col-2 col-xl-1 drop"></i>
</div>
<div class="team row align-items-center justify-content-between">
    <div class="col-3 col-md-2 col-xl-1">
        <img src="/images/LogoTemplate.png" alt="PYF_Logo" width="100px" height="100px">
    </div>
    <p class="teamName col-7 col-md-8 col-xl-10">ROGUE</p>
    <i class="fa-solid fa-chevron-down fa-2xl col-2 col-xl-1 drop"></i>
</div>
<div class="team row align-items-center justify-content-between">
    <div class="col-3 col-md-2 col-xl-1">
        <img src="/images/LogoTemplate.png" alt="PYF_Logo" width="100px" height="100px">
    </div>
    <p class="teamName col-7 col-md-8 col-xl-10">ROGUE</p>
    <i class="fa-solid fa-chevron-down fa-2xl col-2 col-xl-1 drop"></i>
</div>